* {
    color: #f7f7f7;
    background-color: #292b2c;
    font-size: 14px;
}

.container { /*removing bootstrap defaults*/
    margin: 0px !important;
}

.progress.health {
    height: 5px;
    background-color: #d9534f;
}

.progress-bar.health {
    height: 5px;
    background-color: #5cb85c;
}

.progress.energy {
    height: 5px;
    background-color: #f7f7f7;
}

.progress-bar.energy {
    height: 5px;
    background-color: #f0ad4e;
}